/* ----- 文字設定 ----- */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap');
@import url("https://cdn.jsdelivr.net/npm/@xz/fonts@1/serve/nevermind.min.css");

.h1-style{
    font-family: 'NeverMind','Noto Sans TC';
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4em;
    letter-spacing: 0.05em;
    color: var(--clr-color);
}
.h2-style{
    font-family: 'NeverMind','Noto Sans TC';
    font-size: 26px;
    font-weight: 700;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: var(--clr-color);
}
.h3-style{
    font-family: 'NeverMind','Noto Sans TC';
    font-size: 22px;
    font-weight: 500;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: var(--clr-color);
}
.h4-style{
    font-family: 'NeverMind','Noto Sans TC';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.5em;
    letter-spacing: 0.05em;
    color: var(--clr-color);
}
.p-style{
    font-family: 'Noto Sans TC';
    font-size: 16px;
    font-weight: 300;
    line-height: 1.6em;
    letter-spacing: 0.05em;
    color: var(--clr-color);
}



/* ----- 顏色設定 ----- */
.clr-gray{
    --clr-color:#333;
    --clr-fill: #333;
    --clr-bgd:  #333;
}
.clr-white{
    --clr-color:#fff;
    --clr-fill: #fff;
    --clr-bgd:  #fff;
}
.clr-teal{
    --clr-color:#00ADBB;
    --clr-fill: #00ADBB;
    --clr-bgd:  #00ADBB;
}
.clr-teal60{
    --clr-color:#66CED6;
    --clr-fill: #66CED6;
    --clr-bgd:  #66CED6;
}
.clr-teal30{
    --clr-color:#B3E6EB;
    --clr-fill: #B3E6EB;
    --clr-bgd:  #B3E6EB;
}



/* ----- hvr 效果設定 ----- */
.hvr-gray{
    --hvr-color: #333;
    --hvr-fill:  #333;
    --hvr-bgd:   #333;
}
.hvr-white{
    --hvr-color: #fff;
    --hvr-fill:  #fff;
    --hvr-bgd:   #fff;
}
.hvr-teal{
    --hvr-color: #00ADBB;
    --hvr-fill:  #00ADBB;
    --hvr-bgd:   #00ADBB;
}
.hvr-teal60{
    --hvr-color: #66CED6;
    --hvr-fill:  #66CED6;
    --hvr-bgd:   #66CED6;
}
.hvr-teal30{
    --hvr-color: #B3E6EB;
    --hvr-fill:  #B3E6EB;
    --hvr-bgd:   #B3E6EB;
}
.hvr-ts03{
    --hvr-transition: 0.3s;
}
.hvr-scale11{
    --hvr-scale: scale(1.1);
}
.hvr-pointer{
    cursor: pointer;
}


/* ----- 通用設定 ----- */
body{
    position: relative;
    font-size: 0;
    /* 去除各種間隙與 h1(logo) 文字 */
}
img{
    width: 100%;
    vertical-align:top;
}
svg{
    fill: var(--clr-fill);
    transition: var(--hvr-transition);
}
a{
    color: var(--clr-color);
    text-decoration: none;
}



/* ----- icon 設定 ----- */
.icon{
    display: inline-block;
    --icon-width: 25px;
    --icon-height: 25px;
    width:  var(--icon-width);
    height: var(--icon-height);
}
.icon:not(:last-child){
    margin-right: 20px;
}
.icon svg{
    width:  var(--icon-width);
    height: var(--icon-height);
    transform: scale(1);
}



/* ----- btn 設定 ----- */
.btn{
    position: relative;
    padding: 10px 50px;
    border: none;
    font-family: 'NeverMind','Noto Sans TC';
    font-size: 28px;
    font-weight: 700;
    letter-spacing: 0.05em;
}
.btn-teal{
    background-color: #00ADBB;
    color: #fff;
}
.btn-white{
    outline: 2px solid #fff;
    background-color: transparent;
    color: #fff;
}
.btn-animateBox.in{
    transform: scale(1);
    transition: 0.5s 0.5s;
}
.btn-animateBox, .btn-animateBox.out{
    transform: scale(0);
    transition: 0.5s;
    text-align: center;
}



/* ----- header ----- */
header{
    width: 100%;
    position: fixed;
    z-index: 2;
    top: 0;
    background-color: #fff;
    transition: 1s;
}
header.js-hd-shadow{
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    transition: 0.5s;
}
.navbar{
    padding: 2% 10px;
    display: flex;
    justify-content: space-between;
}
.nav-logo svg{
    height: 30px;
}

/* ----- hb-animation ----- */
.nav-hb{
    position: relative;
    width: 30px;
    height: 30px;
    z-index: 2;
}
.nav-hb span{
    position: absolute;
    display: block;
    width: 30px;
    height: 2.4px;
    transform: rotate(0deg);
    transition: 0.3s;
    background-color: #333;
}
.nav-hb span:nth-child(1){
    top: 3.8px;
}
.nav-hb span:nth-child(2){
    top: 13.8px;
    opacity: 1;
}
.nav-hb span:nth-child(3){
    top: 23.8px;
}
.js-click.on.nav-hb span{
    position: absolute;
    background-color: #fff;
    transition: 0.3s;
}
.js-click.on.nav-hb span:nth-child(1){
    top: 13.8px;
    transform: rotate(45deg);
}
.js-click.on.nav-hb span:nth-child(2){
    opacity: 0;
}
.js-click.on.nav-hb span:nth-child(3){
    top: 13.8px;
    transform: rotate(-45deg);
}

/* ----- menu-animation ----- */
.nav-menu{
    position: absolute;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 80%;
    padding: 10%;
    background-color: #00ADBB;
    opacity: 0;
    transition: opacity 0.5s, left 0s 0.5s;
}
.js-click.on.nav-hb + .nav-menu{
    left: 0;
    opacity: 1;
    transition: opacity 0.5s;
}
.menu-list{
    position: relative;
    left: -100%;
    transition: 0.5s;
}
.js-click.on.nav-hb + .nav-menu .menu-list{
    left: 0;
    transition: 0.5s;
}
.menu-logo a{
    display: block;
    width: 180px;
    margin-bottom: 10px;
}
.menu-list>li{
    position: relative;
    margin: 12px;
}
.menu-list span{
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.05em;
}
.menu-list>li:not(:first-child)>a:hover::before{
    position: absolute;
    top: -12px;
    left: -22px;
    content: '';
    background-image: url("../pic/deco/shock-fff-40deg_L.svg");
    width: 32px;
    height: 25px;
}
.menu-secondList li{
    display: inline-block;
    margin: 7px;
    opacity: 0.6;
    transition: 0.15s;
}



/* ----- footer ----- */
footer{
    position: relative;
    background-color: #00ADBB;
}

/* ----- scrollTop ----- */
.scrollTop-hoverBox{
    position: absolute;
    overflow: hidden;
    top: -60px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    width: 50vw;
    max-width: 400px;
}
.scrollTop::before{
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 400%;
    background-color: #B3E6EB;
    border-radius: 50% 50% 0 0;
}
.scrollTop img{
    position: relative;
    top: 10px;
    left: calc(50% - 20px);
    width: 40px;
}
.scrollTop span{
    position: absolute;
    bottom: 8%;
    left: 50%;
    transform: translateX(-50%);
    font-family: 'NeverMind';
    font-weight: 900;
    white-space: nowrap;
    color: #333;
    font-size: 3vw;
    bottom: 1.5vw;
}

/* ----- footer-area ----- */
.footer-area{
    margin: 150px auto 0;
    max-width: 1380px;
    padding: 100px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: flex-start;
}
.footer-icon, .footer-info{
    display: flex;
    flex-direction: column;
}
.footer-icon ul, .footer-info ul{
    flex-grow: 1;
}
.footer-info li+li, .footer-info div+div{
    margin-top: 5px;
}
.footer-logo a{
    display: inline-block;
    width: fit-content;
    width: 160px;
    fill: #333;
    margin-bottom: 20px;
}
.copyright{
    margin-top: 15px;
}
.footer-menu li+li{
    margin-top: 20px;
}
.footer-menu li a{
    transition: var(--hvr-transition);
}
.copyright, .footer-info div{
    font-weight: 400;
}
.footer-info ul li:first-child{
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-info a:hover{
    opacity: 0.6;
}
.icon-search{
    width: 30px;
    height: 30px;
    overflow: hidden;
    margin-right: 5px;
    border: none;
    background: none;
    vertical-align: bottom;
}
.icon-search svg{
    margin: 3px 0 0 -6px;
    height: 100%;
}
.footer-search{
    padding: 5px;
    border: none;
    -webkit-appearance: none;
    border-bottom: 1px solid hsla(0, 0, 20%, .5);
    background-color: #66CED6;
    opacity: 0.3;
}
.footer-search:focus{
    outline: 0;
    opacity: 1;
}
.footer-search::placeholder{
    color: #333;
}
.footer-search::-ms-clear{
    display: none;
}


/* ----- >= 768 ----- */
@media screen and (min-width: 768px){
    /* ----- scrollTop 動畫 hover 縮放 ----- */
    .scrollTop-hoverBox{
        padding: 20px 20px 0;
        top: -100px;
        height: 80px;
    }
    .scrollTop{
        width: 100%;
        height: 100%;
        transform: scale(1);
        transition: 0.5s;
    }
    .scrollTop img{
        top: 15px;
        left: calc(50% - 25px);
        width: 50px;
    }
    .scrollTop span{
        font-size: 16px;
        bottom: 10px;
    }
}



/* ----- >= 1024 ----- */
@media screen and (min-width: 1024px){
    /* ----- 文字設定 ----- */
    .h1-style{
        font-size: 35px;
    }
    .h2-style{
        font-size: 28px;
    }
}



/* ----- >= 1200 ----- */
@media screen and (min-width: 1200px){
    /* ----- 文字設定 ----- */
    .h1-style{
        font-size: 40px;
    }
    .h2-style{
        font-size: 30px;
    }
    /* ----- 通用設定 ----- */
    svg:hover{
        fill: var(--hvr-fill);
        transition: var(--hvr-transition);
    }
    /* ----- icon 設定 ----- */
    .icon svg:hover{
        fill: var(--hvr-fill);
        transform: var(--hvr-scale);
        transition: var(--hvr-transition);
    }
    /* ----- btn 設定 ----- */
    .btn-teal:hover{
        outline: 2px solid #00ADBB;
        background-color: #fff;
        color: #00ADBB;
    }
    .btn-white:hover{
        background-color: #fff;
        color: #00ADBB;
    }
    .btn:hover::after{
        position: absolute;
        top: -30px;
        right: -40px;
        content: '';
        background-position: center;
        background-size: contain;
        width: 45px;
        height: 35px;
        transform: none;
    }
    .btn-teal:hover::after{
        background-image: url("../pic/deco/shock-teal-40deg_R.svg");
    }
    .btn-white:hover::after{
        background-image: url("../pic/deco/shock-fff-40deg_R.svg");
    }
    /* ----- header ----- */
    .navbar{
        padding: 20px 10px;
        max-width: 1380px;
        margin: auto;
    }
    .nav-hb:hover span{
        background-color: #00ADBB;
        transition: 0.3s;
    }
    .js-click.on.nav-hb:before{
        position: absolute;
        right: 130%;
        content: 'Close';
        font-family: 'Noto Sans TC';
        font-size: 18px;
        font-weight: 400;
        line-height: 1.6em;
        letter-spacing: 0.05em;
        color: #fff;
    }
    .nav-menu{
        width: calc(100% - 240px);
        padding: 0 120px;
    }
    .menu-list{
        max-width: 1200px;
        margin: auto;
        left: 0; /* 不要動畫 */
        top: 50%;
        transform: translateY( -50%);
        display: grid;
        grid-auto-flow: column;
        /* grid-template-rows: 2fr 2fr 1fr; */
        grid-template-columns: 3fr 4fr 280px;
        gap: 50px 30px;
    }
    .menu-logo{
        grid-row: 1/4;
    }
    .menu-secondList li a:hover{
        color: var(--hvr-color);
        transition: 0.15s;
    }
    /* ----- footer ----- */
    .scrollTop:hover{
        transform: scale(1.15);
        transition: 0.5s;
    }
    .footer-menu li a:hover{
        color: var(--hvr-color);
        transition: var(--hvr-transition);
    }
}