/* ----- banner ----- */
.banner{
    position: relative;
    max-width: 1500px;
    margin: auto;
}
.banner ul li{
    display: none;
}
.banner-slogan{
    position: absolute;
    top: 20%;
    left: 10%;
    margin-right: 10%;
}
.banner-slogan img{
    display: block;
    width: 150px;
    margin-bottom: 20px;
}

/* ----- breadcrumb ----- */
.breadcrumb{
    padding: 10px;
    max-width: 1380px;
    margin: 5px auto;
}
.breadcrumb li{
    display: inline-block;
}
.breadcrumb li:last-child a{
    font-weight: 600;
}
.breadcrumb li:not(:last-child)::after{
    content: "/ ";
    padding: 5px;
}

/* ----- product ----- */
.product{
    width: 100%;
}
.product-content{
    max-width: 1200px;
    margin: auto;
    padding: 50px;
}
.content-pic div{
    background-color: #F6F8FB;
}
.pic-big{
    overflow: hidden;
    margin-bottom: 5vw;
}
.pic-big img{
    height: 100%;
    object-fit: contain;
    transform: scale(1.1);
}
.pic-small{
    overflow: hidden;
    display: inline-block;
    width: 30%;
}
.pic-small:not(:last-child){
    margin-right: 5%;
}
.info-detail h2{
    padding-bottom: 20px;
}
.info-detail p:nth-of-type(4){
    margin: 15px 0;
}
.info-shop{
    font-size: 0;
}
.shop-logo{
    display: inline-block;
    height: 35px;
    border: 1px solid #333333;
    margin-bottom: 1.3vw;
}
.shop-logo img{
    height: 100%;
    object-fit: contain;
}
.shop-logo:not(:last-child){
    margin-right: 10px;
}



/* ----- < 768 ----- */
@media screen and (max-width: 767px){
    .content-pic, .content-info{
        max-width: 600px;
        margin: auto;
    }
    .pic-small{
        display: none;
    }
    .content-info{
        margin-top: 50px;
    }
}

/* ----- > 768 ----- */
@media screen and (min-width: 768px){
    .banner-slogan{
        top: 50%;
        transform: translateY(-50%);
    }
    .product-content{
        display: flex;
        align-items: flex-start;
    }
    .pic-big{
        width: 40vw;
        height: 30vw;
        margin-bottom: 5vw;
    }
    .content-info{
        margin-left: 5vw;
    }
    .pic-small{
        width: 10vw;
    }
    .pic-small:not(:last-child){
        margin-right: 5vw;
    }
}

/* ----- < 1023 ----- */
@media screen and (max-width: 1023px){
    /* ----- product ----- */

}

/* ----- > 1024 ----- */
@media screen and (min-width: 1024px){
    /* ----- product ----- */
    .product-content{
        display: flex;
        align-items: flex-start;
    }
    .pic-big{
        width: 40vw;
        height: 30vw;
        margin-bottom: 5vw;
    }
    .content-info{
        margin-left: 5vw;
    }
    .pic-small{
        width: 10vw;
    }
    .pic-small:not(:last-child){
        margin-right: 5vw;
    }
    .shop-logo{
        height: 40px;
    }
    .shop-logo:not(:last-child){
        margin-right: 15px;
    }
}

/* ----- > 1200 ----- */
@media screen and (min-width: 1200px){
    /* ----- 通用設定 ----- */
    /* ----- banner ----- */
    .breadcrumb a:hover{
        color: var(--hvr-color);
    }
    /* ----- product ----- */
    .content-info{
        margin-left: 80px;
    }
    .shop-logo{
        margin-bottom: 15px;
    }
    .pic-big{
        width: 400px;
        height: 300px;
        margin-bottom: 50px;
    }
    .pic-small{
        width: 100px;
    }
    .pic-small:not(:last-child){
        margin-right: 50px;
    }
    .pic-small img{
        transition: var(--hvr-transition);
    }
    .pic-small img:hover{
        transform: var(--hvr-scale);
        transition: var(--hvr-transition);
    }
}

/* ----- > 1400 ----- */
@media screen and (min-width: 1400px){
    /* ----- banner ----- */
    .banner-slogan{
        left: calc(50% - 560px)
    }
    /* ----- product ----- */

}